* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(68, 68, 68);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  table,
  tr,
  td {
    border: 1px solid white;
    border-collapse: collapse;
  }

  td {
    padding: 0.25rem 0.5rem;
  }
  table {
    font-size: 1.25rem;
  }
}
