* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  ul {
    li {
      a {
        // text-decoration: none;
        font-size: 1.5rem;
      }
    }
  }
}