<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="rjun" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="rating" content="General" />
    <meta name="description" content="" />
    <base target="_self" />
    <title>Add New Student</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <form action="/students/insert" method="POST">
      <label for="id">ID: </label>
      <input type="number" name="id" id="id" />
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" />
      <label for="age">Age: </label>
      <input type="Number" name="age" id="age" />
      <label for="merit">Merit: </label>
      <input type="Number" name="merit" id="merit" />
      <label for="other">Other:</label>
      <input type="Number" name="other" id="other" />
      <button>Submit</button>
    </form>
  </body>
</html>
