<% if (error != "") { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><%= error %></strong>
</div>
<% } %>

<!--break-->
<% if (error_msg != "") { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><%= error_msg %></strong>
</div>
<% } %>

<!--break-->
<% if (success_msg != "") { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong><%= success_msg %></strong>
</div>
<% } %>
