.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;

  input,
  button {
    font-size: 2rem;
    padding: 0.25rem;
    border: 3px solid rgb(114, 114, 114);
  }

  button {
    background-color: rgb(206, 161, 49);

    color: rgba(255, 255, 255, 0.515);
    &:active {
      color: white;
    }
  }
}
