* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gideon Roman", cursive;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
