div.animation {
  width: 100%;
  height: 100vh;
  background-color: #E08958;
  top: 0;
  position: fixed;
  z-index: 10;
  opacity: 0.95;

  display: flex;
  align-items: center;
  justify-content: center;

}

#font1 {
  stroke-dasharray: 656.73px;
  stroke-dashoffset: 656.73px;
  animation: fadeInSide 0.6s ease-in forwards;
}

#font2 {
  stroke-dasharray: 878.26px;
  stroke-dashoffset: 878.26px;
  animation: fadeInSide 0.6s ease-in forwards 0.3s;
}

#font3 {
  stroke-dasharray: 1105.69px;
  stroke-dashoffset: 1105.69px;
  animation: fadeInSide 0.6s ease-in forwards 0.6s;
}

#font4 {
  stroke-dasharray: 1111.95px;
  stroke-dashoffset: 1111.95px;
  animation: fadeInSide 0.6s ease-in forwards 0.9s;
}
// #font5 {

// }

svg {
  margin: 0rem 1rem;
  animation: fillFont 0.75s ease-in forwards 0.9s;
}

@keyframes fadeInSide {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fillFont {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}