* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

i {
  pointer-events: none;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at 102%, #f2f8f7 0%, #f9f91c 3%, #f7d62e 8%, #f8c85f 12%, #c9a584 30%, #738285 51%, #2e617a 85%, #184b6a 100%);
}

header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  font-size: 3rem;
  color: white;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

form input, form button {
  border: none;
  margin: 0.1rem;
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
}

form input[type="number"] {
  text-align: center;
  width: 50px;
}

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type=number] {
  -moz-appearance: textfield;
}

form button {
  cursor: pointer;
  background-color: #000000c4;
  color: rgba(255, 255, 255, 0.767);
}

form button:hover {
  color: white;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section div.todo {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem 0rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

section div.todo p {
  background-color: white;
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
}

section div.todo p.todo-text {
  width: 50%;
}

section div.todo p.todo-time {
  width: 20%;
  text-align: center;
}

section div.todo button {
  padding: 0.25rem 0.5rem;
  font-size: 1.75rem;
  cursor: pointer;
  border: none;
}

section div.todo button.complete {
  background-color: rgba(51, 255, 0, 0.5);
}

section div.todo button.complete:hover {
  background-color: #33ff00;
}

section div.todo button.delete {
  background-color: rgba(255, 0, 0, 0.5);
}

section div.todo button.delete:hover {
  background-color: red;
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scaleDown {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaleDown {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */